body {
  font-family: "Montserrat", sans-serif;
  background-color: hsl(240, 78%, 98%);
  background-image: url(images/bg-top.svg), url(images/bg-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom left;
}
.top {
  /* align-items: center; */
  text-align: center;
}
.flex-container1 {
  width: fit-content;
  margin: auto;
  display: flex;
  gap: 20px;
  align-items: center;
  /* margin-left: 570px; */
}
#toggle {
  display: none;
}
p,
h2 {
  color: hsl(233, 13%, 49%);
}
label {
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: hsl(237, 63%, 64%);
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  /* margin-left: 32px; */
}
label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}
#toggle:checked + label {
  background-color: hsl(236, 72%, 79%);
}
#toggle:checked + label::before {
  transform: translateX(20px);
}
.flex-container2 {
  margin: auto;
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.basic {
  background-color: white;
  color: hsl(232, 13%, 33%);
  padding: 20px;
  text-align: center;
  width: 280px;
  height: 350px;
  margin-top: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.master {
  background-color: white;
  color: hsl(232, 13%, 33%);
  padding: 20px;
  text-align: center;
  width: 280px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 350px;
  margin-top: 15px;
}
.professional {
  background-color: hsl(237, 63%, 64%);
  color: white;
  width: 270px;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  height: 400px;
}
.features {
  margin-top: 10px;
}
h1 {
  font-size: 45px;
}
h3 {
  font-size: 15px;
}
hr {
  border-color: hsl(234, 14%, 74%);
  outline: none;
  border-width: 1px;
}
button {
  width: 270px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  body {
    /* margin: 0 auto; */
    /* width: 90%; */
  }
  .flex-container1 {
    /* margin-left: 180px; */
  }
  .flex-container2 {
    /* display: block; */
    /* margin: 50px auto; */
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-bottom: 50px;
    width: fit-content;
  }
  .basic {
    border-radius: 10px;
    margin-top: 0;
  }
  .professional {
    width: 280px;
  }
  .master {
    border-radius: 10px;
    margin-top: 0;
  }
}
